.App__parent {
  width: 100%;
  min-height: 100vh;
}

.App__content {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
